.contact_1-container {
    padding: 30px;
    background-color: #f4f4f4;
    margin: auto;
    max-width: 70%;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(2, 0, 9, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .contact_1-container h1,
  .contact_1-container p {
    text-align: center;
    color: #180502;
  }
  
  .contact_1-container .contact_1-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .contact_1-container .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .contact_1-container .input-group label {
    font-size: 16px;
    color: #180502;
  }
  
  .contact_1-container .input-group input,
  .contact_1-container .input-group textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  }
  

  .contact_1-container .input-group textarea {
    height: 150px;
    resize: vertical;
  }
  
  .contact_1-container .submit-btn {
    background-color: #140870;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  
  .contact_1-container .close-icon {
    background: none;
    border: none;
    color: rgb(34, 32, 32);
    position: absolute;
    right: 215px;
    top: 120px;
    font-size: 29px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  

  
  @media (max-width: 768px) {
    .contact_1-container .close-icon {
      background: none;
      border: none;
      color: rgb(34, 32, 32);
      position: absolute;
      right: 60px;
      top: 130px;
      font-size: 29px;
      cursor: pointer;
      transition: color 0.3s ease, transform 0.3s ease;
    }
    

  }