.Nav_1 {
    color: white; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    gap: 20px;
    background-color: transparent;
    z-index: 10;
  }
  
  .Nav_1 span {
    margin-right: 10px;
    
  }
  
  .Nav_1 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease; 
  }
  

  .Nav_1 .logout {
    transition: transform 0.3s ease, color 0.3s ease;
    background-color: #b40f0f;
    color: white;
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
  
  }
  
  .Nav_1 .logout:hover {
    background-color: #4b0404;
  }